/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/08/2018, 11:57:18 AM
    Author     : BOAA01
*/

#Controles {    
	position:absolute;
	top:10px;
	left:10px;
	width:500px;
	height: 300px;
}

.boton{
    width: 150px;
}
