<html>
    <head>
        <title>Gestion de Problemas TI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="STYLESHEET" type="text/css" href="../css/css_principal.css"> 
    </head>
    <body>
        <div>
            <table>
                <tr>
                  <th>Casos Problema/Masivos</th>
                  <th>Pendiente</th>
                  <th>Proximo Paso</th>
                </tr>
                <tr>
                  <td>2286108-WMS PURGAS</td>
                  <td><p>Tareas: Instalación de paquete para realizar purgas y planteamiento estrategia para comenzar limpieza.</p>
                      <p>Estado: SDN 21 instalado en QA.</p>
                  </td>
                  <td>Inicio de labores de purga en QA.</td>
                </tr>
                <tr>
                  <td>2336300-SGL-WMS ERRORES INTEGRACION DO</td>
                  <td><p>Tareas: Revision de incidentes reportados y tiempos de integración.</p>
                      <p>Estado: Pendiente.</p>
                  </td>
                  <td>
                      Segun hallazgos encontrados.
                  </td>
                </tr>
                <tr>
                  <td>2345653-SGL ESTABILIZACION REPORTE RUTEO NOTAS PEDIDO</td>
                  <td><p>Tareas: En investigacion. Continuamos con aplicacion de contingencias.</p>
                      <p>Estado: Pendiente.</p>
                  </td>
                  <td> Segun hallazgos encontrados.</td>
                </tr>
                <tr>
                  <td>2336320-WMS BLOQUEO RF PROCESO RECIBO-AUDITORIA</td>
                  <td><p>Tareas: Visitas a Centro de Distribucion. Envio de reportes AWR a MH.</p>
                      <p>Estado: Pruebas en QA realizadas. No se logra reproducir error.</p>
                      <p>Logs enviados a MH</p>
                  </td>
                  <td>Segun hallazgos encontrados.</td>
                </tr>
                <tr>
                  <td>2315882-SLI CIERRE CARPETA SIN MOVIMIENTOS EN ODBMS</td>
                  <td><p>Tarea: Analisis Caso Problema.</p>
                      <p>Estado: La hipotesis que se maneja esta relacionada con una asincronia en los procesos de cierre
                       y asignacion de costos.
                      </p></td>
                  <td><p>Investigacion en conjunto con equipo de desarrollo</p></td>
                </tr>
                <tr>
                  <td>2344618-SLI-SGL INTEGRACION CONTENEDORES TRANSFERENCIAS</td>
                  <td><p>Tarea: Teleconferencia con Chile para analisis del problema</p>
                      <p>Estado: Pendiente.</p></td>
                  <td><p>Segun hallazgos encontrados.</p></td>
                </tr>
                <tr>
                  <td>TMS-ERRORES-INTEGRACION APPOINMENT Y SHIPMENT</td>
                  <td><p></p>
                      <p>Estado: SDN recibido, en espera de instalacion.</p></td>
                  <td><p>Aplicacion SDN y pruebas de integracion</p></td>
                </tr>
                 <tr>
                  <td>TMS-BLOQUEO DE MOTOR DE CONSOLIDACION</td>
                  <td><p></p>
                      <p>Estado: Escalado MH, en espera de investigacion.</p></td>
                  <td><p>Segun hallazgos de MH.</p></td>
                </tr>
                 <tr>
                  <td>CAIDA BASE DE DATOS PROD</td>
                  <td><p>Reporte de Falla Infraestrucutura </p>
                      <p></p></td>
                  <td><p></p></td>
                </tr>
            </table>
        </div>
        
        <div id="Controles">
            <form action="http://localhost:8083/ReporteLogistica">
            <input type="submit" value="Atras">
            </form> 
        </div> 
    </body>
</html>
